<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<dom-module id="qio-date-time">

    <link rel="import" href="../styles/custom-styles.css" type="css">
    <script>
    /**
     * @customElement
     * @polymer
     */
    class QioDateTime extends Polymer.QioDateTimeBase {
      static get is() {return 'qio-date-time';}
		static get properties() {
			return {
				// See: http://norbertlindenberg.com/2012/12/ecmascript-internationalization-api/index.html#DateTimeFormat
				weekday : {type: String                  }, // 'narrow', 'short', 'long'
				era     : {type: String, value: 'short'  }, // 'narrow', 'short', 'long'
				year    : {type: String, value: '2-digit'}, // '2-digit', 'numeric'
				month   : {type: String, value: '2-digit'}, // '2-digit', 'numeric',
																			// 'narrow', 'short', 'long'
				day     : {type: String, value: '2-digit'}, // '2-digit', 'numeric'

				hour    : {type: String, value: '2-digit'}, // '2-digit', 'numeric'
				minute  : {type: String, value: '2-digit'}, // '2-digit', 'numeric'
				second  : {type: String, value: '2-digit'}, // '2-digit', 'numeric'
				timeZoneName : {type: String},              // 'short', 'long',
			};
		}
		constructor() {super();}

		get _transformMethod() {return 'toLocaleDateString';}
    }

    window.customElements.define(QioDateTime.is, QioDateTime);
  </script>
</dom-module>